<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find aerial_topomapping)/config/gridmap/gridmap_vis_config.yaml" />
  </node>
</launch>